.continer{
    width:80%;
    margin :0 auto;
    background :gray;
}
.continer h2{
    color:blue;
    text-align:center;
    padding-top:10px;
}
p{
    padding-left:20px;
    padding-bottom:20px;
    width:20%;
    margin:0 auto;
    text-align:inherit;
    color:white;
}